# ****FLUSHING ANALYTICS****

# Installing Dependencies

In [1]:
# %pip install pandas
# %pip install pyproj
# %pip install scikit-learn
# %pip install openpyxl
# %pip install matplotlib
# %pip install seaborn

Requirement already satisfied: pandas in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\17561\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\17561\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pyproj in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (3.6.1)
Requirement already satisfied: certifi in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from pyproj) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.0.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\17561\appdata\roaming\python\python312\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\17561\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\17561\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.0.1)
Requirement already satisfied: pandas>=1.2 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\17561\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\17561\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\17561\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\17561\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Preparing the Data

## Loading and exploring the datasets

In [2]:
# Importing dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import copy

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mse
from pyproj import Proj, transform

# file_path = '/EllaTesting/Files/Repairs_2018_2023.xlsx'

# print(file_path)

# Creating DataFrames from spreadsheets
all_hydrants_filepath = "Updated_Qry_AllHY.csv"
flushing_history_filepath = "Qry_FlushHistory.csv"

all_hydrants_df = pd.read_csv(all_hydrants_filepath)
flushing_history_df = pd.read_csv(flushing_history_filepath)

C:\Users\17561\AppData\Local\Temp\1\ipykernel_26836\3096977762.py:20: DtypeWarning: Columns (4,5,8,10,11,13,14,16,18,20,22,23,24,25,26,28,29,33,35,37,44,46,49,57,68,71,80,89,91,93) have mixed types. Specify dtype option on import or set low_memory=False.
  all_hydrants_df = pd.read_csv(all_hydrants_filepath)
C:\Users\17561\AppData\Local\Temp\1\ipykernel_26836\3096977762.py:21: DtypeWarning: Columns (0,4,5,15,23,24,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  flushing_history_df = pd.read_csv(flushing_history_filepath)

## Data Cleaning and Preprocessing

### Data Cleaning - History Table

In [131]:
# Creating a copy of the Flushing History DataFrame
copied_flushing_history_df = copy.deepcopy(flushing_history_df)

In [132]:
#delete all unnecessary columns
copied_flushing_history_df = copied_flushing_history_df.drop(columns={'FLSHTIME3', 'FLSHTIME4', 'FLSHTIME5', 'FLSHTIME6', 'FLSHTIME7', 'FLSHTIME8', 'FLSHTIME9', 'FLSHTIME10', 'FLSHTIME11', 'FLSHVOL1', 'FLSHVOL2', 'FLSHVOL3', 'FLSHVOL4', 'FLSHVOL5', 'FLSHVOL6', 'FLSHVOL7', 'FLSHVOL8', 'FLSHVOL9', 'FLSHVOL10', 'FLSHVOL11', 'CLFREE3', 
                                                                      'CLFREE4', 'CLFREE5', 'CLFREE6', 'CLFREE7', 'CLFREE8', 'CLFREE9', 'CLFREE10', 'CLFREE11', 'CLTOTL3', 'CLTOTL4', 'CLTOTL5', 'CLTOTL6', 'CLTOTL7', 'CLTOTL8', 'CLTOTL9', 'CLTOTL10', 'CLTOTL11', 'ADDBY', 'ADDDTTM', 'MODBY', 'MODDTTM', 'REMARKS', 'FLSHTIME', 'FLUSHNC', 'NFREASON',  
                                                                      'CLTOTL1', 'CLTOTL2', 'CLTOTL', 'UNSCEHDLD',  'ALTERNATE'})

In [133]:
copied_flushing_history_df.shape

(116808, 16)

In [134]:
copied_flushing_history_df = copied_flushing_history_df.dropna(subset=['FLSHFRE', 'FLSHDATE', 'CLFREE', 'PHREAD', 'FLSHVOL', 'FLSHDUR', 'COMPKEY'])

In [135]:
copied_flushing_history_df.shape

(112606, 16)

In [136]:
copied_flushing_history_df.head(10)

,INSPKEY,GRIDKEY,FLSHFRE,FLSHDATE,CLFREE,PHREAD,FLSHVOL,FLSHDUR,INSPBY,CLFREE1,CLFREE2,WWNUM,COMMUN,COMPKEY,FLSHTIME1,FLSHTIME2
6,965966,19046430,1 WEEK,2019-04-23,1.18,7.92,1.000,5.0,61535,NaN,NaN,WW220003993,CD,805425.0,NaN,NaN
7,972209,19048814,1 MONTH,2019-04-25,1.66,7.90,18.000,10.0,65673,1.67,NaN,WW220003993,CV,9876.0,15:05,NaN
8,972253,19048815,1 MONTH,2019-04-25,1.33,7.51,10.000,10.0,65673,1.30,NaN,WW260002590,CR,540642.0,09:55,NaN
9,965951,19048816,1 WEEK,2019-04-29,1.69,7.50,6.000,5.0,65673,NaN,NaN,WW260002590,CT,531455.0,NaN,NaN
10,965955,19048817,2 WEEKS,2019-04-30,1.67,7.86,10.000,10.0,65673,1.64,NaN,WW220003993,CV,541072.0,10:50,NaN
11,965950,19048818,1 WEEK,2019-04-30,0.72,8.09,23.000,15.0,65673,0.77,0.82,WW260094120,CB,528297.0,09:40,09:45
12,970581,19048819,2 WEEKS,2019-05-01,1.09,8.21,1.000,5.0,61535,NaN,NaN,WW260094120,CB,9986.0,NaN,NaN
13,970575,19048820,2 WEEKS,2019-05-01,1.11,8.31,1.000,5.0,61535,NaN,NaN,WW260094120,CCC,9263.0,NaN,NaN
14,965730,19048821,3 DAYS,2019-03-01,0.92,7.69,1.194,20.0,35832,NaN,NaN,WW260094120,B,7781.0,NaN,NaN
15,965730,19048822,3 DAYS,2019-04-30,0.42,7.89,5.000,13.0,68527,0.71,NaN,WW260094120,B,7781.0,07:40,NaN

In [137]:
copied_flushing_history_df['CLFREE2'] = copied_flushing_history_df['CLFREE2'].fillna(0)

In [138]:
copied_flushing_history_df['CLFREEFINAL'] = np.where(copied_flushing_history_df['CLFREE2'] > 0, copied_flushing_history_df['CLFREE2'], copied_flushing_history_df['CLFREE1'])

In [139]:
copied_flushing_history_df = copied_flushing_history_df.dropna(subset=['CLFREEFINAL'])
copied_flushing_history_df

,INSPKEY,GRIDKEY,FLSHFRE,FLSHDATE,CLFREE,PHREAD,FLSHVOL,FLSHDUR,INSPBY,CLFREE1,CLFREE2,WWNUM,COMMUN,COMPKEY,FLSHTIME1,FLSHTIME2,CLFREEFINAL
7,972209,19048814,1 MONTH,2019-04-25,1.66,7.90,18.0,10.0,65673,1.67,0.00,WW220003993,CV,9876.0,15:05,NaN,1.67
8,972253,19048815,1 MONTH,2019-04-25,1.33,7.51,10.0,10.0,65673,1.30,0.00,WW260002590,CR,540642.0,09:55,NaN,1.30
10,965955,19048817,2 WEEKS,2019-04-30,1.67,7.86,10.0,10.0,65673,1.64,0.00,WW220003993,CV,541072.0,10:50,NaN,1.64
11,965950,19048818,1 WEEK,2019-04-30,0.72,8.09,23.0,15.0,65673,0.77,0.82,WW260094120,CB,528297.0,09:40,09:45,0.82
15,965730,19048822,3 DAYS,2019-04-30,0.42,7.89,5.0,13.0,68527,0.71,0.00,WW260094120,B,7781.0,07:40,NaN,0.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116802,1242027,19513855,3 DAYS,2024-04-30,1.19,7.30,5.0,15.0,17571,1.23,0.00,WW260094120,B,796912.0,11:25,NaN,1.23
116803,1242028,19513856,3 DAYS,2024-04-15,1.00,8.25,13.0,10.0,13394,0.98,0.00,WW260094120,CDR,798643.0,08:30,NaN,0.98
116805,1242029,19513858,2 DAYS,2024-05-01,0.66,7.82,26.0,20.0,13787,1.01,0.00,WW260094120,M,798849.0,09:50,NaN,1.01
116806,1242628,19513859,2 WEEKS,2024-05-02,1.17,7.98,20.0,15.0,68870,1.10,0.00,WW260094120,B,801724.0,13:50,NaN,1.10
116807,1242030,19513860,1 WEEK,2024-05-01,0.81,7.10,7.0,20.0,17571,0.77,0.00,WW260094120,B,804452.0,11:30,NaN,0.77

In [140]:
copied_flushing_history_df = copied_flushing_history_df.drop(columns=['CLFREE1', 'CLFREE2', 'FLSHTIME1', 'FLSHTIME2', 'INSPKEY', 'GRIDKEY', 'FLSHVOL', 'FLSHDUR', 'INSPBY', 'COMMUN'])

In [141]:
copied_flushing_history_df

,FLSHFRE,FLSHDATE,CLFREE,PHREAD,WWNUM,COMPKEY,CLFREEFINAL
7,1 MONTH,2019-04-25,1.66,7.90,WW220003993,9876.0,1.67
8,1 MONTH,2019-04-25,1.33,7.51,WW260002590,540642.0,1.30
10,2 WEEKS,2019-04-30,1.67,7.86,WW220003993,541072.0,1.64
11,1 WEEK,2019-04-30,0.72,8.09,WW260094120,528297.0,0.82
15,3 DAYS,2019-04-30,0.42,7.89,WW260094120,7781.0,0.71
...,...,...,...,...,...,...,...
116802,3 DAYS,2024-04-30,1.19,7.30,WW260094120,796912.0,1.23
116803,3 DAYS,2024-04-15,1.00,8.25,WW260094120,798643.0,0.98
116805,2 DAYS,2024-05-01,0.66,7.82,WW260094120,798849.0,1.01
116806,2 WEEKS,2024-05-02,1.17,7.98,WW260094120,801724.0,1.10
116807,1 WEEK,2024-05-01,0.81,7.10,WW260094120,804452.0,0.77

In [142]:
copied_flushing_history_df = copied_flushing_history_df.drop(copied_flushing_history_df[copied_flushing_history_df['PHREAD'] > 2000].index)
copied_flushing_history_df

,FLSHFRE,FLSHDATE,CLFREE,PHREAD,WWNUM,COMPKEY,CLFREEFINAL
7,1 MONTH,2019-04-25,1.66,7.90,WW220003993,9876.0,1.67
8,1 MONTH,2019-04-25,1.33,7.51,WW260002590,540642.0,1.30
10,2 WEEKS,2019-04-30,1.67,7.86,WW220003993,541072.0,1.64
11,1 WEEK,2019-04-30,0.72,8.09,WW260094120,528297.0,0.82
15,3 DAYS,2019-04-30,0.42,7.89,WW260094120,7781.0,0.71
...,...,...,...,...,...,...,...
116802,3 DAYS,2024-04-30,1.19,7.30,WW260094120,796912.0,1.23
116803,3 DAYS,2024-04-15,1.00,8.25,WW260094120,798643.0,0.98
116805,2 DAYS,2024-05-01,0.66,7.82,WW260094120,798849.0,1.01
116806,2 WEEKS,2024-05-02,1.17,7.98,WW260094120,801724.0,1.10
116807,1 WEEK,2024-05-01,0.81,7.10,WW260094120,804452.0,0.77

In [143]:
copied_flushing_history_df = copied_flushing_history_df.drop(copied_flushing_history_df[copied_flushing_history_df['PHREAD'] < 0].index)
copied_flushing_history_df

,FLSHFRE,FLSHDATE,CLFREE,PHREAD,WWNUM,COMPKEY,CLFREEFINAL
7,1 MONTH,2019-04-25,1.66,7.90,WW220003993,9876.0,1.67
8,1 MONTH,2019-04-25,1.33,7.51,WW260002590,540642.0,1.30
10,2 WEEKS,2019-04-30,1.67,7.86,WW220003993,541072.0,1.64
11,1 WEEK,2019-04-30,0.72,8.09,WW260094120,528297.0,0.82
15,3 DAYS,2019-04-30,0.42,7.89,WW260094120,7781.0,0.71
...,...,...,...,...,...,...,...
116802,3 DAYS,2024-04-30,1.19,7.30,WW260094120,796912.0,1.23
116803,3 DAYS,2024-04-15,1.00,8.25,WW260094120,798643.0,0.98
116805,2 DAYS,2024-05-01,0.66,7.82,WW260094120,798849.0,1.01
116806,2 WEEKS,2024-05-02,1.17,7.98,WW260094120,801724.0,1.10
116807,1 WEEK,2024-05-01,0.81,7.10,WW260094120,804452.0,0.77

In [144]:
copied_flushing_history_df = copied_flushing_history_df.drop(copied_flushing_history_df[copied_flushing_history_df['CLFREE'] == 0].index)
copied_flushing_history_df

,FLSHFRE,FLSHDATE,CLFREE,PHREAD,WWNUM,COMPKEY,CLFREEFINAL
7,1 MONTH,2019-04-25,1.66,7.90,WW220003993,9876.0,1.67
8,1 MONTH,2019-04-25,1.33,7.51,WW260002590,540642.0,1.30
10,2 WEEKS,2019-04-30,1.67,7.86,WW220003993,541072.0,1.64
11,1 WEEK,2019-04-30,0.72,8.09,WW260094120,528297.0,0.82
15,3 DAYS,2019-04-30,0.42,7.89,WW260094120,7781.0,0.71
...,...,...,...,...,...,...,...
116802,3 DAYS,2024-04-30,1.19,7.30,WW260094120,796912.0,1.23
116803,3 DAYS,2024-04-15,1.00,8.25,WW260094120,798643.0,0.98
116805,2 DAYS,2024-05-01,0.66,7.82,WW260094120,798849.0,1.01
116806,2 WEEKS,2024-05-02,1.17,7.98,WW260094120,801724.0,1.10
116807,1 WEEK,2024-05-01,0.81,7.10,WW260094120,804452.0,0.77

In [145]:
copied_flushing_history_df = copied_flushing_history_df.drop(copied_flushing_history_df[copied_flushing_history_df['CLFREEFINAL'] == 0].index)
copied_flushing_history_df

,FLSHFRE,FLSHDATE,CLFREE,PHREAD,WWNUM,COMPKEY,CLFREEFINAL
7,1 MONTH,2019-04-25,1.66,7.90,WW220003993,9876.0,1.67
8,1 MONTH,2019-04-25,1.33,7.51,WW260002590,540642.0,1.30
10,2 WEEKS,2019-04-30,1.67,7.86,WW220003993,541072.0,1.64
11,1 WEEK,2019-04-30,0.72,8.09,WW260094120,528297.0,0.82
15,3 DAYS,2019-04-30,0.42,7.89,WW260094120,7781.0,0.71
...,...,...,...,...,...,...,...
116802,3 DAYS,2024-04-30,1.19,7.30,WW260094120,796912.0,1.23
116803,3 DAYS,2024-04-15,1.00,8.25,WW260094120,798643.0,0.98
116805,2 DAYS,2024-05-01,0.66,7.82,WW260094120,798849.0,1.01
116806,2 WEEKS,2024-05-02,1.17,7.98,WW260094120,801724.0,1.10
116807,1 WEEK,2024-05-01,0.81,7.10,WW260094120,804452.0,0.77

In [147]:
copied_flushing_history_df['CLFREE'] = copied_flushing_history_df['CLFREE'].replace(78, 0.78)
copied_flushing_history_df

,FLSHFRE,FLSHDATE,CLFREE,PHREAD,WWNUM,COMPKEY,CLFREEFINAL
7,1 MONTH,2019-04-25,1.66,7.90,WW220003993,9876.0,1.67
8,1 MONTH,2019-04-25,1.33,7.51,WW260002590,540642.0,1.30
10,2 WEEKS,2019-04-30,1.67,7.86,WW220003993,541072.0,1.64
11,1 WEEK,2019-04-30,0.72,8.09,WW260094120,528297.0,0.82
15,3 DAYS,2019-04-30,0.42,7.89,WW260094120,7781.0,0.71
...,...,...,...,...,...,...,...
116802,3 DAYS,2024-04-30,1.19,7.30,WW260094120,796912.0,1.23
116803,3 DAYS,2024-04-15,1.00,8.25,WW260094120,798643.0,0.98
116805,2 DAYS,2024-05-01,0.66,7.82,WW260094120,798849.0,1.01
116806,2 WEEKS,2024-05-02,1.17,7.98,WW260094120,801724.0,1.10
116807,1 WEEK,2024-05-01,0.81,7.10,WW260094120,804452.0,0.77

In [148]:
wwnum_temp = pd.get_dummies(copied_flushing_history_df['WWNUM'])
copied_flushing_history_df = copied_flushing_history_df.join(wwnum_temp)

In [149]:
copied_flushing_history_df

,FLSHFRE,FLSHDATE,CLFREE,PHREAD,WWNUM,COMPKEY,CLFREEFINAL,WW220003993,WW220004000,WW220004037,WW260002590,WW260094120
7,1 MONTH,2019-04-25,1.66,7.90,WW220003993,9876.0,1.67,True,False,False,False,False
8,1 MONTH,2019-04-25,1.33,7.51,WW260002590,540642.0,1.30,False,False,False,True,False
10,2 WEEKS,2019-04-30,1.67,7.86,WW220003993,541072.0,1.64,True,False,False,False,False
11,1 WEEK,2019-04-30,0.72,8.09,WW260094120,528297.0,0.82,False,False,False,False,True
15,3 DAYS,2019-04-30,0.42,7.89,WW260094120,7781.0,0.71,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
116802,3 DAYS,2024-04-30,1.19,7.30,WW260094120,796912.0,1.23,False,False,False,False,True
116803,3 DAYS,2024-04-15,1.00,8.25,WW260094120,798643.0,0.98,False,False,False,False,True
116805,2 DAYS,2024-05-01,0.66,7.82,WW260094120,798849.0,1.01,False,False,False,False,True
116806,2 WEEKS,2024-05-02,1.17,7.98,WW260094120,801724.0,1.10,False,False,False,False,True
116807,1 WEEK,2024-05-01,0.81,7.10,WW260094120,804452.0,0.77,False,False,False,False,True

In [150]:
copied_flushing_history_df = copied_flushing_history_df.drop(columns=['WWNUM'])

In [53]:
#TODO: Ayan: Use the COMPKEY to fill out the missing values in COMMUN
# # Sorting the DataFrame by COMPKEY, as there is a pattern between COMPKEY values and COMMUN values
# copied_flushing_history_df = copied_flushing_history_df.sort_values('COMPKEY')

# # Imputing every missing value with the value that came before it in the sorted DataFrame
# copied_flushing_history_df['COMMUN'] = copied_flushing_history_df['COMMUN'].ffill()

In [151]:
# For visualizing the box and whisker plot
import seaborn as sns

# Replaces all outliers within a given column with the median of that column
def replace_outliers(df, column):
    # Creates a box and whisker plot to visualize data points that are considered to be outliers
    sns.boxplot(df[column])
    plt.title(f"Original Box and Whisker Plot for {column}")
    plt.show()
    
    # Computing the first, second (median), and third quartiles
    q1 = df[column].quantile(0.25)
    q2 = df[column].quantile(0.5)
    q3 = df[column].quantile(0.75)

    print(f"First quartile is {q1}")
    print(f"Median is {q2}")
    print(f"Third quartile is {q3}")
    
    # Computing the interquartile range
    iqr = q3 - q1

    # Values that are lower than the lower fence or higher than the upper fence are considered to be outliers
    lower_fence = q1 - (1.5 * iqr)
    upper_fence = q3 + (1.5 * iqr)

    print(f"Lower fence is {lower_fence}")
    print(f"Upper fence is {upper_fence}")

    # Replace outliers with the median
    adjusted_column = [x if lower_fence <= x <= upper_fence else q2 for x in df[column]]
    
    # New box and whisker plot with outliers adjusted
    sns.boxplot(adjusted_column)
    plt.title(f"New Box and Whisker Plot for {column}")
    plt.show()

    return adjusted_column

In [125]:
# Replacing outliers in the FLSHVOL column
# copied_flushing_history_df['FLSHVOL'] = replace_outliers(copied_flushing_history_df, 'FLSHVOL')

In [126]:
# Replacing outliers in the FLSHDUR column
# copied_flushing_history_df['FLSHDUR'] = replace_outliers(copied_flushing_history_df, 'FLSHDUR')

In [152]:
copied_flushing_history_df.to_csv('historycheck.csv', index=False)

### Data Cleaning - Hydrant Table

In [153]:
# Creating a copy of the All Hydrants DataFrame
copied_all_hydrants_df = copy.deepcopy(all_hydrants_df)

In [154]:
# Filters rows where flushing frequency is blank
copied_all_hydrants_df = copied_all_hydrants_df[copied_all_hydrants_df['FLSHFRE'].notnull()]
copied_all_hydrants_df.describe()

,ADDRKEY,IMSRO_COMPHY_COMPKEY,PRCLKEY,SEGKEY,WVKEY,XCOORD,YCOORD,LASTFREE,LASTOTAL,LSTFMAX1,...,EMASSTCRTL,EMASSTCRDT,EMASSTRISK,EMASTRSKDT,EMDISTRICT,EMEQPMNTCL,EMEQPMNTTP,EMASSTDESC,EMCOND,EMCONDDATE
count,2388.000000,2.390000e+03,2390.000000,2388.0,2390.000000,2.390000e+03,2.389000e+03,2328.000000,2329.000000,2327.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,81107.974037,3.360691e+05,1.002092,1.0,508.465820,6.071278e+05,4.833597e+06,1.171462,1.375311,1.371856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,122066.894270,4.165201e+05,0.073738,0.0,17538.989535,1.225211e+05,9.960603e+04,0.216069,0.223664,0.229154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1003.000000,1.000000e+00,1.000000,1.0,1.000000,5.741070e+05,1.687867e+02,0.300000,0.000000,0.430000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3242.500000,9.033250e+03,1.000000,1.0,1.000000,5.998912e+05,4.825940e+06,1.030000,1.230000,1.230000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,5475.500000,1.939450e+04,1.000000,1.0,1.000000,6.031306e+05,4.833903e+06,1.160000,1.360000,1.360000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,129041.500000,7.155450e+05,1.000000,1.0,1.000000,6.084413e+05,4.842762e+06,1.310000,1.520000,1.520000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,437401.000000,1.312755e+06,4.000000,1.0,609252.930000,4.840275e+06,4.869890e+06,1.880000,2.190000,2.190000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
# Item 3: Clean data, replace nulls with values in some columns
copied_all_hydrants_df['UNITTYPE'] = copied_all_hydrants_df['UNITTYPE'].fillna('STDHY')

In [157]:
copied_all_hydrants_df = copied_all_hydrants_df[copied_all_hydrants_df['OWN'].isin(['R', 'NAMP'])]
copied_all_hydrants_df = copied_all_hydrants_df[copied_all_hydrants_df['SERVSTAT'].isin(['A', 'ANYR'])]
copied_all_hydrants_df = copied_all_hydrants_df[copied_all_hydrants_df['EXPDATE'].isnull()]

In [158]:
copied_all_hydrants_df = copied_all_hydrants_df.drop(columns={'ADDRKEY', 'ADDRQUAL', 'AUXVALVE', 'BARRELSIZE', 'COMPLEXKEY', 'GISSTATIC', 'HT', 'INTKEY', 'MAPNO', 'OBST', 'OUTLSZ4', 'PACKING', 'PAINTTYPE', 'PRCLKEY', 'SEGKEY', 'SERNO', 'SLKEY', 'SPECINST', 'STKEY', 'WVKEY', 'BGTNO', 'USGAREAKEY', 'EXPBY', 'EXPDATE', 'ADDBY', 'MODBY', 'MODDTTM',
                                                              'LASTINSP', 'LASTWINT', 'OLDID', 'WMODID', 'MUNICIPAL', 'FLUDATE', 'WWNUM', 'LASTFREE', 'LASTOTAL', 'FLSHFRE_GIS', 'MINFLTM', 'AVKCLIP', 'ASUMDATE', 'MAINTBY', 'REPLABY', 'REPLAFOR', 'FRFLWVLDDT', 'ASSTGRPID', 'EMDEPT', 'EMDIV', 'EMSERV', 'EMSERVCAT', 'EMCAMASTCL', 'EMASSTPRNT', 'EMPURCHDAT',
                                                                  'EMESTSRVLF', 'EMRMGSRVLF', 'EMRMSRLFDT', 'EMREPLCOST', 'EMREPCOSDT', 'EMPURINCST', 'EMASSTCRTL', 'EMASSTCRDT', 'EMASSTRISK', 'EMASTRSKDT', 'EMDISTRICT', 'EMEQPMNTCL', 'EMEQPMNTTP', 'EMASSTDESC', 'EMCOND', 'EMCONDDATE', 'OWN', 'SERVSTAT', 'DISTRICT', 'ASBLT', 'WATPLATT',
                                                                  'LSTFMAX1',	'LSTFMAX2',	'LSTFMAX3',	'AVE3FMAX',	'LSTTMAX1',	'LSTTMAX2',	'LSTTMAX3',	'AVE3TMAX', 'ASBLT', 'ZCOORD', 'PRESSMIN',	'PRESSMAX',	'FIRFLGPM',	'OUTELEVN',	'MDLRESRD', 'FEEDERTYPE'})

In [159]:
#TODO: Ayan: Imputing the missing data for PRESZONE
# Based on other rows with similar data as the missing rows in PRESZONE, PG8 is the most suitable value to impute here
copied_all_hydrants_df['PRESZONE'] = copied_all_hydrants_df['PRESZONE'].fillna("PG8")

In [160]:
#TODO: Jordan: Imputing the missing data for SUBAREA
#TODO: Jordan: What are the differences between AREA, SUBAREA, COMMUN, WARDID. Which columns to keep and why?

subarea_mode = copied_all_hydrants_df['SUBAREA'].mode()[0]
copied_all_hydrants_df['SUBAREA'] = copied_all_hydrants_df['SUBAREA'].fillna(subarea_mode)
print(copied_all_hydrants_df['SUBAREA'].isna().sum())

# Extracting only the letters from the AREA column
copied_all_hydrants_df['Letters'] = copied_all_hydrants_df['AREA'].str.extract(r'([A-Za-z]+)', expand=False)

# Displaying the resulting DataFrame with only the letters
print(copied_all_hydrants_df[['AREA', 'Letters']])

import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.decomposition import PCA

# One-hot encoding the letters
encoder = OneHotEncoder(sparse_output=False)
encoded_letters = encoder.fit_transform(copied_all_hydrants_df[['Letters']])
encoded_letters_df = pd.DataFrame(encoded_letters, columns=encoder.get_feature_names_out(['Letters']))

# Combining the original DataFrame with the encoded letters
df_combined = pd.concat([copied_all_hydrants_df, encoded_letters_df], axis=1)

# Displaying the resulting DataFrame to ensure the columns are included
print("Original DataFrame with extracted letters and one-hot encoded columns:")
print(df_combined.head())

0
      AREA Letters
65     B31       B
76     B31       B
126    B31       B
138    B06       B
139    B12       B
...    ...     ...
40349  C36       C
40515  B34       B
40516  B34       B
40517  B34       B
40556  B34       B

[2210 rows x 2 columns]
Original DataFrame with extracted letters and one-hot encoded columns:
    AREA   COLOR  IMSRO_COMPHY_COMPKEY FEEDERDIAM FEEDERLEN  \
65   B31    BLUE                1673.0        0.0       1.4
76   B31    BLUE                1696.0        0.0       1.1
126  B31    BLUE                2847.0        0.0       1.1
138  B06  ORANGE                2863.0        0.0       3.0
139  B12    BLUE                2864.0        0.0       1.0

                INSTDATE   LOC MAINKEY MFGKEY  MODELNO  ... NONSCHE FZONENUM  \
65   2008-10-16 08:21:00  1031  526297   1012  CENTURY  ...       N   FZ-C01
76   2007-01-11 08:44:00  1145  754390   1022      M67  ...       N   FZ-C01
126  2008-08-29 11:00:00  1058  762853   1012  CENTURY  ...       N   FZ-C01
138  2008-06-12 14:14:00  0641  512055   1009     D67M  ...       N   FZ-C03
139  2008-06-13 17:29:00  0821  716655   1022     M59M  ...       N   FZ-C03

    DECLREQD WARDID HYMARKER Letters Letters_B  Letters_C  Letters_S  \
65         N    B02        Y       B       1.0        0.0        0.0
76         Y    B02      NaN       B       1.0        0.0        0.0
126        N    B02      NaN       B       1.0        0.0        0.0
138        N    B04      NaN       B       1.0        0.0        0.0
139        Y    B07      NaN       B       1.0        0.0        0.0

    Letters_nan
65          0.0
76          0.0
126         0.0
138         0.0
139         0.0

[5 rows x 35 columns]

In [161]:
#TODO: Ayan: Imputation for DECLREQD
# Replacing blank values in the 'DECLREQD' column with the mode of the column
copied_all_hydrants_df['DECLREQD'] = copied_all_hydrants_df['DECLREQD'].fillna(copied_all_hydrants_df['DECLREQD'].mode().iloc[0])

In [162]:
#TODO: Ella: Convert null to N for HYMARKER
copied_all_hydrants_df['HYMARKER'] = copied_all_hydrants_df['HYMARKER'].fillna('N')

In [163]:
#TODO: Ella + Jordan: For INSTDATE: Convert year 9999 to null, then see whether we can use the ADDDTTM and/or the first time a hydrant was flushed in the history table to fill this info in. After filling in the info, delete ADDTTM
# Then calculate the age of the asset and delete INSTDATE column



def convert_to_days(frequency):
    if pd.isna(frequency):
        return None
    frequency = frequency.upper().strip()
    if 'DAY' in frequency:
        return int(frequency.split()[0])
    elif 'DAILY' in frequency:
        return 1
    elif 'WEEK' in frequency:
        return int(frequency.split()[0]) * 7
    elif 'MONTH' in frequency:
        return int(frequency.split()[0]) * 30
    elif 'YEAR' in frequency:
        return int(frequency.split()[0]) * 365
    else:
        return None  # For any unknown frequency format

# Apply the conversion function
copied_all_hydrants_df['FLSHFRE_DAYS'] = copied_all_hydrants_df['FLSHFRE'].apply(convert_to_days)
print(copied_all_hydrants_df[['FLSHFRE', 'FLSHFRE_DAYS']].head())


print(copied_all_hydrants_df['FLSHFRE_DAYS'].unique())
print(copied_all_hydrants_df['FLSHFRE'].unique())

    FLSHFRE  FLSHFRE_DAYS
65   1 YEAR           365
76   1 YEAR           365
126  1 YEAR           365
138  1 YEAR           365
139  1 YEAR           365
[365  90 180   3   7 120  14  30  60  21   2   1]
['1 YEAR' '3 MONTHS' '6 MONTHS' '3 DAYS' '1 WEEK' '4 MONTHS' '2 WEEKS'
 '1 MONTH' '2 MONTHS' '3 WEEKS' '2 DAYS' 'DAILY']

In [164]:
# #TODO: Jordan: Clean up the values in MODEL column (group those that are of similar values but in different forms) & fill the null value with UNKNOWN - Done
# #TODO: ELla to clean up the grouping
# import pandas as pd


# # Standardize the values in the MODELNO column
# copied_all_hydrants_df['MODELNO'] = copied_all_hydrants_df['MODELNO'].str.strip().str.upper()

# # Fill missing values with 'UNKNOWN'
# copied_all_hydrants_df['MODELNO'] = copied_all_hydrants_df['MODELNO'].fillna('UNKNOWN')

# # Define a mapping for similar model numbers
# modelno_mapping = {
#     'BRIGADIER': [
#         'BRIG', 'BRIGADIER', 'BRIGADIER M67', 'BRIGADEER', 'BRIGADERE', 
#         'BRIGD', 'BRIGA', 'BRIGADIER M64', 'BRIGADIER M67B', 
#         'BRIGADIER M67B-002', 'BRIGIDAR', 'BRIGIDERE', 'BRIGG', 'BRIG.', 'brig', 'brig.', 'Brig'
#     ],
#     'CENTURY': [
#         'CENTURY', 'century', 'CEN', 'CENT', 'CENTRY', 'CENTRUY', 
#         'CENURY', 'CENTY', 'CENTRYY', 'CENRTY', 'CCENTURY', 'c entury', 'CEN.'
#     ],
#     '27/100': ['27/100', '27-100', '27-00', '27/00', 'B52700'],
#     'M67': [
#         'M67', 'M67B', 'M67B-002', 'M67-B', 'M67 BRIG', 'M67 BRIGADIER', 
#         'M67 BRIGADIER', 'M67-BRIG', 'M67D', 'M67E', 'M67Y', 'M67m', 
#         'M67\r\nM67', 'M-67', 'M67M', 'M 67', 'M67-brig.', 'm67', 'm67b'
#     ],
#     'D67': ['D67', 'D67M', 'D-67', 'D-67M', 'D67m', 'D57M'],
#     'B50': [
#         'B50', 'B50-B24', 'B50-B18', 'B50-B-24', 'B-50-B', 
#         'B-50', 'B67', 'B560-B24', 'B50B'
#     ],
#     'C': ['C', 'C61', 'C61A'],
#     '3 PORT': [
#         '#5', '5', '3', '3-PORT', '3 PORT', '3 PORTS', '3PORT BRIGADIER', 
#         '3PORT BRIGADIER M67B', '3PORT BRIGADIER M67B', 'M3', 
#         'M-93', 'SIGELOCK SPARTAN', 'THREE PORT', 'TWO PORT'
#     ]
#     # Add more mappings as needed
# }

# # Reverse the mapping for easy replacement
# reverse_modelno_mapping = {}
# for key, values in modelno_mapping.items():
#     for value in values:
#         reverse_modelno_mapping[value] = key

# # Apply the mapping to the MODELNO column
# copied_all_hydrants_df['MODELNO'] = copied_all_hydrants_df['MODELNO'].replace(reverse_modelno_mapping)

# # Verify the changes
# print(copied_all_hydrants_df['MODELNO'].unique())
# print(copied_all_hydrants_df['MODELNO'].isna().sum())

In [165]:
#TODO: Ayan: Impute the missing value for NONSCHE
copied_all_hydrants_df['NONSCHE'] = copied_all_hydrants_df['NONSCHE'].fillna(copied_all_hydrants_df['NONSCHE'].mode().iloc[0])

In [166]:
#TODO: Ayan to find the right column to merge the 2 datasets. After merging, delete all the ...KEY columns (identification columns) in the merge df

# Renaming the column so that the name is the same in both datasets
copied_all_hydrants_df.rename(columns={'IMSRO_COMPHY_COMPKEY': 'COMPKEY'}, inplace=True)

In [168]:
# Imputing the missing value with the most suitable value based on 
copied_all_hydrants_df['Letters'] = copied_all_hydrants_df['Letters'].fillna("S")

In [169]:
copied_all_hydrants_df = copied_all_hydrants_df.drop(columns={'AREA', 'LOC', 'MAINKEY', 'MODELNO', 'SUBAREA', 'UNITID', 'XCOORD', 'YCOORD', 'IMSRO_VARHY_COMPKEY', 'ADDDTTM', 'FLSHFRE', 'COMMUN', 'WARDID', })

In [173]:
copied_all_hydrants_df['INSTDATE'] = copied_all_hydrants_df['INSTDATE'].replace('9999-01-01', '2016-03-24')

In [176]:
# ohe_temp = pd.get_dummies(copied_flushing_history_df, columns=['COLOR', 'MFGKEY', 'PRESZONE', 'Letters', 'FZONENUM'])
# copied_flushing_history_df = copied_flushing_history_df.join(ohe_temp)

# One-hot encoding the letters
encoder = OneHotEncoder(sparse_output=False)
encoded_temp = encoder.fit_transform(copied_all_hydrants_df[['COLOR', 'MFGKEY', 'PRESZONE', 'Letters', 'FZONENUM']])
encoded_temp_df = pd.DataFrame(encoded_temp, columns=encoder.get_feature_names_out(['COLOR', 'MFGKEY', 'PRESZONE', 'Letters', 'FZONENUM']))

# Combining the original DataFrame with the encoded letters
copied_all_hydrants_df = pd.concat([copied_all_hydrants_df, encoded_temp_df], axis=1)

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['float', 'int', 'str']

In [ ]:
#TODO: transform N, Y into 0, 1 for UNITTYPE	LONGKEY	PLUGGED	NONSCHE	FZONENUM	DECLREQD	HYMARKER

In [174]:
copied_all_hydrants_df.to_csv('hydrantcheck.csv', index=False)

In [73]:
# Merging the DataFrames based on the 'COMPKEY' column - similar to a SQL left outer join
merged_df = pd.merge(copied_all_hydrants_df, copied_flushing_history_df, on='COMPKEY', how='right', indicator=True)

# Removing the COMPKEY column now that we don't need it
merged_df.drop(['COMPKEY'], axis=1, inplace=True)

# Save the result to a new Excel file
merged_df.to_csv('merged_dataset.csv', index=False)

In [74]:
copied_all_hydrants_df.head()

,AREA,COLOR,COMPKEY,FEEDERDIAM,FEEDERLEN,INSTDATE,LOC,MAINKEY,MFGKEY,MODELNO,...,LONGKEY,PLUGGED,COMMUN,NONSCHE,FZONENUM,DECLREQD,WARDID,HYMARKER,Letters,FLSHFRE_DAYS
65,B31,BLUE,1673.0,0.0,1.4,2008-10-16 08:21:00,1031,526297,1012,CENTURY,...,N,N,B,N,FZ-C01,N,B02,Y,B,365
76,B31,BLUE,1696.0,0.0,1.1,2007-01-11 08:44:00,1145,754390,1022,M67,...,N,N,B,N,FZ-C01,Y,B02,N,B,365
126,B31,BLUE,2847.0,0.0,1.1,2008-08-29 11:00:00,1058,762853,1012,CENTURY,...,N,N,B,N,FZ-C01,N,B02,N,B,365
138,B06,ORANGE,2863.0,0.0,3.0,2008-06-12 14:14:00,0641,512055,1009,D67,...,N,N,B,N,FZ-C03,N,B04,N,B,365
139,B12,BLUE,2864.0,0.0,1.0,2008-06-13 17:29:00,0821,716655,1022,M59M,...,N,N,B,N,FZ-C03,Y,B07,N,B,365

# PCA to reduce dimensions -- skip

# Split the data into train, test

In [ ]:
# test set 20%, train 80%
# cross validation cv = 5, 10

# Training the Model

### Model 1: Linear Regression

In [ ]:
# regularization
# gridsearch() to tune the model

### Model 2: Ayan

### Model 3: Jordan

# Result Comparison

# Testing the Model